[submodule "gengine/deps/glm"]
	path = gengine/deps/glm
	url = https://github.com/g-truc/glm
[submodule "gengine/deps/imgui"]
	path = gengine/deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "gengine/deps/fmt"]
	path = gengine/deps/fmt
	url = https://github.com/fmtlib/fmt.git
